mixin checkbox(name, checked=false)
    .custom-checkbox
        label
            input(type="checkbox" name=name id=name class="checkbox" checked=checked)
            span.checkbox-custom
            span.label Запомнить